/* Page stlye */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  margin: 1em;
}

div {
  margin: 1em;
}

/* Header box style */
.header {
    background-color: brown;
    display: flex;
    padding: 2em;
}

/* Timer box style */
.Timer {
    border: solid black .3em;
    background-color: white;
    color: brown;
    /* display: flex;
    justify-content: flex-end; */
}

/* Quiz Rules style */
.QuizRules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/* My button styles */
.button {
    background-color: black;
    color: white;
}
/* Not working */

/* Need to add "active" style to Start Quiz btn. */

/* There needs to be a "cursor state" when I move over buttons. */